<div class="container">

  <h1>Commandes par client - Année <%= @year %></h1>
  <p><%= link_to "Retour", customer_orders_year_index_path %></p>

  <h4>CA cumulé depuis début <%= @year %> : <%= @cayear %> € </h4>

  <ul>

    <% @category.each do |category| %>

      <%= @cayearcategory %>



    <li><%= category.name %> : </li>

    <% end %>

  </ul>


    <% @weeks.each do |week| %>
    <p>Semaine <%= week[0] %> : <%= pluralize(week[1], "commande") %>. Montant total : XX € | <%= link_to "Détail", customer_orders_week_path(@year, week[0]) %></p>
    <% end %>

</div>
