<div class="container">
  <h1>Commandes par client - Année <%= @year %></h1>

  <%= link_to "Retour", customer_orders_year_index_path %>

  <h4>CA cumulé depuis début <%= @year %> :</h4>
  <ul>
    <li>Catégorie 1 : XX €</li>
    <li>Catégorie 2 : XX €</li>
    <li>etc.</li>
  </ul>


    <% @weeks.each do |week| %>
    <p>Semaine <%= week[0] %> : <%= pluralize(week[1], "commande") %>. Montant total : XX € | <%= link_to "Détail", customer_orders_week_path(@year, week[0]) %></p>
    <% end %>

</div>

