<div class="container">

  <h1>Commandes par client - <%= @year %>, semaine <%= @week %> </h1>
  <%= link_to "Retour", customer_orders_year_path(@year) %>

  <h4>CA cumulé cette semaine : <%= @caweek %> € </h4>

  <ul>

    <% @categories.each do |category| %>
      <li><%= category.name %> : <%= category.week_sales_for(@year, @week) %> €</li>
    <% end %>

  </ul>

  <% @categories.each do |category| %>
    <h4><%= category.name %></h4>
    <% @orders.each do |order| %>
      <% if order.categories.include?(category) %>
        <%= order.user.first_name %> <%= order.user.last_name %> :
        <% order.product_orders.with_category(category).each do |product_order| %>
          <p><%= product_order.product.name %> - <%= product_order.quantity %></p>
        <% end %>
      <% end %>
    <% end %>

  <% end %>

  <ul>
    <% @orders.each do |order| %>
      <li>
        <% if order.user.mayeres == true %>
          <i class="fab fa-medium-m"></i>
        <% end %>
        <%= order.user.first_name %>   <%= order.user.last_name %> : <%= order.total_price %>€</li>
      <ul>
        <% order.product_orders.each do |item| %>
          <li><%= item.product.name %> - <%= pluralize(item.quantity, item.product.unit) %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>

</div>
