<div class="container">

  <h1>Récolte par légume - Général</h1>
  <p><%= link_to "Retour", :back %></p>

  <h4>Quantitées récoltées depuis début <%= @year %></h4>

  <ul>

    <% @category.each do |category| %>
      <li><%= category.name %> : <%= category.year_sales_for(@year) %> €</li>
    <% end %>

  </ul>

  <ul>
    <% @years.each do |year| %>
    <li>
      <p><%= year[0] %> : <%= pluralize(year[1], "commande") %> - <%= link_to "Détail", date_path(year) %> </p>
    </li>
    <% end %>
  </ul>

</div>
