<div class="container">
  <h1>Année <%= @year %></h1>
  <%= @weeks %>
  <ul>
    <% @weeks.each do |week| %>
    <li>Semaine <%= week.week_number %>, <%= link_to "Semaine", product_order_week_number_path(:week_number) %> </li>
  <% end %>
  </ul>

  <%= link_to "Exporter", product_orders_path(format: "xlsx") %>

</div>
