<div class="container">
  <h1><span class="flex-title"><i class="fas fa-users fa-gray"></i>Plages de vente</span>
      <span class="flex-add"><%= link_to "Ajouter une plage de vente", new_admin_selling_range_path %></span>
  </h1>
  <ul>
    <% @selling_ranges.each do |selling_range| %>
      <li><%= link_to admin_selling_range_path(selling_range) do %>
          <%= selling_range.ends_at.strftime("%Y") %> S<%= selling_range.ends_at.strftime("%U") %>
          <% end %>

        : <%= l(selling_range.starts_at, format:"%A %d/%m/%Y") %> au <%= l(selling_range.ends_at, format:"%A %d/%m/%Y") %> -
          <%= selling_range.orders.validated.count %> commandes
          <%= link_to "Editer", edit_admin_selling_range_path(selling_range) %>
          <% if selling_range.orders.count == 0 %>
            <%= link_to "Supprimer", admin_selling_range_path(selling_range), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer cette plage de vente ?" } %></li>
          <% end %>
    <% end %>
  </ul>

</div>
