<div class="container">

  <h1>Plage de vente - Semaine <%= @selling_range.ends_at.strftime("%U")%></h1>

  <% if !@pending_orders.empty? %>
  <p>Les clients suivants n'ont pas finalisé leur commande :</p>
  <ul>
    <% @pending_orders.each do |pending_order| %>
        <li><%= pending_order.user.first_name %> <%= pending_order.user.last_name %></li>
      <% end %>
    <% end %>
  </ul>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Récoltes</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Commandes par client</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Commandes par produit</a>

    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <%= render 'harvest_tab' %>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%= render 'harvest_by_users_tab' %>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <%= render 'harvest_by_products_tab' %>
    </div>
  </div>
</div>
