<div class="container">
  <h1><span class="flex-title">
      Commande de <%= link_to admin_user_path(@user) do %>
        <%= @user.first_name %> <%= @user.last_name %>
      <% end %></span>
    <span class="flex-add"><%= link_to "Editer la commande", edit_admin_order_path(@order) %></span>
  </h1>
  <div class="card_form" id="order-cart">
    <%= render 'orders/cart' %>
  </div>
</div>
