<div class="container">

<h1>Clients</h1>

<p><%= link_to "Ajouter un client", new_user_path %></p>

<table>
  <tr>
    <th>Email</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Téléphone</th>
    <th>Mayères</th>
    <th>Ardoise</th>
    <th>Commandes</th>
    <th>Editer des infos</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone_number %></td>
      <td><% if user.mayeres? %>Oui <% end %> </td>
      <td><%= user.tab %></td>
      <td><%= link_to "#{user.orders.count} commandes ", orders_user_path(user) %></td>
      <td><%= link_to "Editer |", edit_user_path(user) %><%= link_to " Supprimer", user_path(user), :data => {:method => "delete"} %></td>
    </tr>
  <% end %>
</table>

</div>
