<h1>Clients</h1>

<p><%= link_to "Ajouter un client", new_user_path %></p>

<table>
  <tr>
    <td>Email</td>
    <td>Nom</td>
    <td>Prénom</td>
    <td>Téléphone</td>
    <td>Accéder aux commandes</td>
    <td>Editer des infos</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone_number %></td>
      <td><%= link_to "#{user.orders.count} commandes", orders_path %></td>
      <td><%= link_to "Editer le profil", edit_user_registration_path %></td>
    </tr>
  <% end %>
</table>

