<div class="container">

<h1>Clients</h1>

<p><%= link_to "Ajouter un client", new_user_path %></p>

<table>
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Tél</th>
    <th>Ardoise</th>
    <th>Commandes</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><% if user.mayeres? %><i class="fab fa-medium-m"></i> <% end %> <%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td><%= link_to "#{user.tab}€", user_transactions_path(user) %></td>
      <td><%= link_to pluralize(user.orders.count,"commande"), orders_user_path(user) %></td>
      <td><%= link_to "Editer |", edit_user_path(user) %><%= link_to " Supprimer", user_path(user), :data => {:method => "delete"} %> <%= link_to "Créer commande", new_order_user_path(user) %> </td>
    </tr>
  <% end %>
</table>

</div>
