<h1>Clients</h1>

<p><%= link_to "Ajouter un client", new_user_path %></p>

<table>
  <tr>
    <td>Email</td>
    <td>Nom</td>
    <td>Prénom</td>
    <td>Téléphone</td>
    <td>Mayères</td>
    <td>Ardoise</td>
    <td>Accéder aux commandes</td>
    <td>Editer des infos</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.mayeres %></td>
      <td><%= user.tab %></td>
      <td><%= link_to "#{user.orders.count} commandes ", orders_user_path(user) %></td>
      <td><%= link_to "Editer le profil", edit_user_path(user) %></td>
      <td><%= link_to "Supprimer cet utilisateur", user_path(user), :data => {:method => "delete"} %></td>
    </tr>
  <% end %>
</table>

