<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user.admin? %>
        <%= link_to "Clients", users_path %>
        <%= link_to "A récolter", product_orders_path %>
        <%= link_to "Commandes", customer_orders_path %>
        <%= link_to "Ventes", sales_path %>
      <% else %>
        <%= link_to "Mes commandes", orders_path %>
        <%= link_to "Mon profil", user_path(current_user) %>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
       <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path %>
    <% end %>
  </div>
</div>

