<div class="container">
  <% if @order.user == current_user %>
    <h1>Votre panier a été validé</h1>
  <% end %>

<%= render "products/cart" %>

  <% if current_order.status == 1 %>
    <%= form_for(@order) do |f| %>
      <%= f.hidden_field :status, value: 0 %>
      <%= f.submit 'Annuler la commande', class: "btn btn-secondary" %>
    <% end %>
  <% end %>

  <p><%= link_to "Vous avez oublié un produit ? Modifiez votre commande", reset_status_order_path(@order) %></p>
  <p><%= link_to "Voir mon profil", user_path(@user) %></p>
  <p><%= link_to "Historique de mes commandes", orders_path %></p>
</div>

