<h1>Votre panier a été validé</h1>
<h2>Semaine <%= @order.date %></h2>

<p>Récapitulatif de votre commande</p>

<% @order.product_orders.each do |product_order| %>
  <li><%= product_order.product.name %>
  Prix au <%= product_order.product.unit %>:<%= product_order.product.price %>
  Quantité : <%= product_order.quantity %>
  Prix total : <%= product_order.quantity.to_f * product_order.product.price.to_f %>
  </li>
<% end %>

<h4>Prix total cette semaine : <%= number_to_currency @order.invoiced %></h4>

<% if current_order.status == 1 %>
  <%= form_for(@order) do |f| %>
    <%= f.hidden_field :status, value: 0 %>
    <%= f.submit 'Annuler la commande' %>
  <% end %>
<% end %>

<p><%= link_to "Vous avez oublié un produit ? Modifiez votre commande", products_path %></p>
<p><%= link_to "Historique de mes commandes", orders_path %></p>