<h1>Votre panier</h1>

<% @product_orders.each do |product_order| %>

  <%= product_order.product.name %>
Prix :<%= product_order.product.price %>
  <%= link_to "Delete", product_order_path(product_order), :data => {:method => "delete"} %>
  <%= link_to "Editer", edit_product_order_path(product_order) %>
  <br/>
<% end %>

<p><%= link_to "Retour aux produits", products_path %></p>