<div id="intro">
  <ul class="gallery-slideshow">

    <li><%= image_tag("clement_margaux.jpg", class: "imagesSlides") %></li>
    <li><%= image_tag("carottes.jpg", class: "imagesSlides") %></li>
    <li><%= image_tag("plantation.jpg", class: "imagesSlides") %></li>
  </ul>
  <h1>Bienvenue chez Margaux et Clément</h1>
  <h4>On élève des légumes et on cultive un enfant</h4>
  <%= button_to "Passer une commande", products_path, :method => :get, class: 'button-cmd' %>
</div>

<div id="people">

  <h4>Notre ferme</h4>
  <div id="peopletxt">
    <p>Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. </p>
  </div>
  <div id="peoplepict">
    <%= image_tag("clement.jpg", style: 'width:30%;height:auto;' )%>
  </div>

</div>

<div id="where">
  <h4>Où trouver nos produits</h4>
  <div class="place-to-find">
    <p>Au marché</p>
  </div>
  <div class="place-to-find">
    <p>A la ferme</p>
  </div>
  <div class="place-to-find">
    <p>A la coop</p>
  </div>
</div>

