<div id="intro">
  <div id="intro-txt">
    <span class="intro-name">Monts & Légumes</span>
    <span class="intro-baseline">Légumes biologiques </br> locaux et de saison</span>
    <% if sales_period? && user_signed_in? %>
      <%= button_to "Je commande mon panier", products_path, :method => :get, class: 'btn btn-primary btn-homepage' %>
    <% elsif sales_period? %>
      <div>
        <%= link_to t(".sign_in", default: "Je commande mon panier"), new_user_session_path, data: { toggle: 'modal', target: '#logInModal'}, class: 'btn btn-primary btn-homepage' %>
      </div>
    <% elsif @next_selling_range %>
      <span class="intro-nosales">Prochaine vente : </br>
      <%= l(@next_selling_range.starts_at, format:"%d %B à %H h") %></span>
    <% else %>
      <span class="intro-nosales">Pas de vente actuellement</span>
    <% end %>
  </div>

  <div id="intro-img">
    <%= image_tag ( "carottes.jpg") %>
  </div>
</div>

<div id="introcards">
  <div class="whitecard introcard" id="introcard-1">
    <div class="introcardtitle">
      <h3>Légumes biologiques et bocaux</h3>
    </div>
    <div class="introcardcontent">
      <div class="introcardtxt">
        <p>Récoltés pour vous chaque semaine dans nos champs</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-vegetables.png" ) %>
      </div>
    </div>
  </div>
  <div class="whitecard introcard" id="introcard-2">
    <div class="introcardtitle">
      <h3>Viande bovine biologique et bocaux</h3>
    </div>
    <div class="introcardcontent">
      <div class="introcardtxt">
        <p>Vaches Aubrac élevées avec soin par nos voisins éleveurs</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-meat.png" ) %>
      </div>
    </div>
  </div>
  <div class="whitecard introcard" id="introcard-3">
    <div class="introcardtitle">
      <h3>Fromages et autres produits</h3>
    </div>
    <div class="introcardcontent">
      <div class="introcardtxt">
        <p>Fromages de vache et de chèvre, miel et œufs, produits par des collègues fermiers</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-dairy.png" ) %>
      </div>
    </div>
  </div>
</div>

<div id="welcome">
  <span id="welcometitle">Bienvenue !</span>
  <span id="welcomesubtitle">Découvrez le GAEC Monts et Légumes</span>

  <div id="welcome-content">
    <div class="welcome-left">
        <%= image_tag ( "les-stars.jpg") %>
    </div>

    <div class="welcome-right">

      <p>Nous sommes Margaux et Clément. Installés en maraîchage en agriculture biologique dans les monts du Lyonnais depuis 2017, nous vendons la totalité de nos légumes en vente directe. Nous produisons toute l'année des légumes de saison avec le souci de limiter au maximum notre impact sur notre environnement.</p>
      <p>
      Sur ce site, vous pouvez commander nos légumes. Nous vous proposons aussi plusieurs autres produits issus de fermes voisines. La réception des commandes se fait le vendredi soir à la ferme, sur la commune de Haute-Rivoire.</p>
    </div>
  </div>

  <div id="welcomebio">
    <%= image_tag ("AB.svg.png") %>
    <p>Tous nos légumes sont certifiés Agriculture Biologique</p>
  </div>

</div>

<div class="whitecard" id="people">

  <div id="peoplebtn">
    <span class="button1 btnactive">Notre ferme</span>
    <span class="button2">Nos pratiques</span>
    <span class="button3">Biodiversité</span>
    <span class="button4">Notre environnement</span>
    <span class="button5">Commandes</span>
  </div>

  <div class="slide1 slide active">
    <div class="peopletxt">
      <h1>Notre ferme</h1>
      <p>Sur un peu plus de 2 hectares de terres, qui nous ont été cédées par un couple d'éleveurs, nous cultivons des légumes diversifiés en Agriculture Biologique. Nous produisons toute l'année des légumes qui suivent les saisons, notamment grâce à nos serres non chauffées qui nous permettent de cultiver en hiver et au début du printemps. </p>
    </div>

    <div class="peoplepic">
      <%= image_tag("hp-slide1.jpg")%>
    </div>
  </div>

  <div class="slide2 slide">
    <div class="peopletxt">
      <h1>Nos pratiques</h1>
      <p>Dans un souci agronomique et pour le respect de la vie du sol, nous travaillons en non-labour (planches permanentes). Nous avons équipé notre tracteur avec des outils auto-construits ou adaptés à nos besoins. Hormis le travail du sol, la plupart des tâches que nous effectuons se font à la main. </p>
    </div>

    <div class="peoplepic">
      <%= image_tag("hp-slide2.jpg")%>
    </div>
  </div>

  <div class="slide3 slide">
    <div class="peopletxt">
      <h1>Biodiversité</h1>
      <p>La biodiversité est une alliée essentielle dans notre travail. Nous préservons des zones où les auxiliaires peuvent se développer : larve de coccinelle contre puceron / punaise macrolophus contre l'aleurode, etc. Lorsque cela ne suffit pas, nous mettons en place des méthodes de lutte sans traitements de synthèse (filets, bactéries, etc.)</p>
    </div>

    <div class="peoplepic">
      <%= image_tag("hp-slide3.jpg")%>
    </div>
  </div>

  <div class="slide4 slide">
    <div class="peopletxt">
      <h1>Notre environnement social</h1>
      <p>Notre vécu nous pousse à entretenir des liens sociaux forts : entraide avec les éleveurs situés sur le même lieu que nous, proximité avec les consommateurs via la vente directe et implication dans les associations de développement locales.</p>
    </div>

    <div class="peoplepic">
      <%= image_tag("hp-slide4.jpg")%>
    </div>
  </div>

  <div class="slide5 slide">
    <div class="peopletxt">
      <h1>Comment marchent les commandes ?</h1>
      <p>Les commandes ont lieu chaque semaine. Vous avez jusqu'au mercredi minuit pour enregistrer votre commande sur le site. Nous récoltons et préparons vos légumes le jeudi. Les autres producteurs nous amènent leurs produits avant le vendredi soir et vous passez récupérer votre commande à la ferme, au lieu dit Les Mayères à Haute-Rivoire. La distribution se fait de 17h à 19h.<br> Pour passer votre commande, vous devez d'abord vous identifier. Pour cela, créez un compte à l'aide de votre email et d'un mot de passe.</p>
    </div>

    <div class="peoplepic">
      <%= image_tag("hp-slide5.jpg")%>
    </div>
  </div>


</div>


<div id="where">
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("vegetables.png")%>
    </div>
    <div class="place-to-find-top">
      <h2>Au marché</h2>
      <p>Les vendredis matins de 7h30 à 12h au marché de St-Genis-Laval</p>
    </div>
    <%= link_to t(".sign_in", default: "Voir la carte"), '', data: { toggle: 'modal', target: '#mapModal'}, class: 'btn btn-primary' %>
  </div>
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("landscape.png")%>
    </div>
    <div class="place-to-find-top">
    <h2>À la ferme</h2>
    <p>Commandez votre panier en ligne du lundi au mercredi et venez le récupérer à la ferme à Haute-Rivoire le vendredi de 17h à 19h</p>
    </div>
    <div>
      <%= link_to t(".sign_in", default: "Voir la carte"), '', data: { toggle: 'modal', target: '#mayeresModal'}, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("shop.png")%>
    </div>
    <div class="place-to-find-top">
      <h2>À AlterConso</h2>
      <p>Paniers sur le Grand Lyon de produits agricoles locaux et solidaires</p>
    </div>
    <button class="btn btn-primary"><a href="https://www.alter-conso.org" target="_blank">En savoir plus</a></button>
  </div>
</div>

<div id="homepage-bottom">

  <h1>En direct des Mayères</h1>

  <div class="homepage-photos">


    <div class="hpleft">
      <div class="hplefttop">
        <div class="contoverflow contoverflow-except-left">
          <div class="hppic hplefttoptop">
            <div class="overlay">
              <span class="overlaytxt">Courgettes en goutte-à-goutte</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hpleftbottom">
        <div class="contoverflow contoverflow-except-left">
          <div class="hppic hpleftbottomleft">
            <div class="overlay">
              <span class="overlaytxt">Récolte des oignons bottes</span>
            </div>
          </div>
        </div>
        <div class="contoverflow contoverflow-left-bottom-right">
          <div class="hppic hpleftbottomright">
            <div class="overlay">
              <span class="overlaytxt">Les pois gourmands sortent</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hpright">
      <div class="hprighttop">
        <div class="contoverflow">
          <div class="hppic hprighttopleft">
            <div class="overlay">
              <span class="overlaytxt">Désherbage de poireaux</span>
            </div>
          </div>
        </div>
        <div class="contoverflow contoverflow-except-right">
          <div class="hppic hprighttopright">
            <div class="overlay">
              <span class="overlaytxt">Plantation de tomates</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hprightbottom">
        <div class="contoverflow contoverflow-except-right">
          <div class="hppic hprightbottombottom">
            <div class="overlay">
              <span class="overlaytxt">Syrphe auxiliaire de culture</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/mapmodal' %>
<%= render partial: 'shared/mayeres_modal' %>
<%= render partial: 'shared/contact_modal' %>
