<%= render 'shared/navbar' %>
<div id="intro">
  <div id="introtxt">
    <span class="introname">Monts & Légumes</span>
    <span class="introbaseline">On fait des légumes bio</span>
    <% if user_signed_in? %>
      <%= button_to "Je commande mon panier", products_path, :method => :get, class: 'btn btn-primary btn-homepage' %>
    <% else %>
    <div>
      <%= link_to t(".sign_in", default: "Je commande mon panier"), new_user_session_path, data: { toggle: 'modal', target: '#logInModal'}, class: 'btn btn-primary btn-homepage' %>
    </div>
    <% end %>

  </div>
  <div id="introcards">
    <div class="whitecard introcard">
      <div class="introcardtxt">
        <h3>Légumes bio</h3>
        <p>Récoltés chaque semaine pour vous</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-vegetables.png" ) %>
      </div>
    </div>
    <div class="whitecard introcard">
      <div class="introcardtxt">
        <h3>Bocaux bio</h3>
        <p>Préparés dans nos ateliers</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-transfo.png" ) %>
      </div>
    </div>
    <div class="whitecard introcard">
      <div class="introcardtxt">
        <h3>Viande</h3>
        <p>Locale et préparée par nos collègues</p>
      </div>
      <div class="introcardpic">
        <%= image_tag ( "hp-meat.png" ) %>
      </div>
    </div>
  </div>
</div>


<div class="graybackground">

  <div id="graytitle">
    <span class="introwelcome">Bienvenue !</span>
    <p>Nous sommes Margaux et Clément. Depuis 2017, nous produisons des légumes bio dans une ferme à Haute Rivoire. Blablabla</p>
  </div>


  <div class="whitecard" id="people">

    <div id="peoplebtn">
      <span class="button1 btnactive">Slide 1</span>
      <span class="button2">Slide 2</span>
      <span class="button3">Slide 3</span>
      <span class="button4">Slide 4</span>
    </div>

    <div class="slide1 slide active">
      <div class="peopletxt">
        <h1>Notre ferme</h1>
        <p>Découvrez notre ferme. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet.</p>
      </div>

      <div class="peoplepic">
        <%= image_tag("clement_margaux.jpg")%>
      </div>
    </div>

    <div class="slide2 slide">
      <div class="peopletxt">
        <h1>Notre démarche</h1>
        <p>Et voilà notre démarche. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet.</p>
      </div>

      <div class="peoplepic">
        <%= image_tag("plantation.jpg")%>
      </div>
    </div>

    <div class="slide3 slide">
      <div class="peopletxt">
        <h1>Nos carottes</h1>
        <p>Elles sont belles nos carottes. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet.</p>
      </div>

      <div class="peoplepic">
        <%= image_tag("carottes.jpg")%>
      </div>
    </div>

    <div class="slide4 slide">
      <div class="peopletxt">
        <h1>Et voilà une coccinelle</h1>
        <p>Elles est belle la coccinelle. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet.</p>
      </div>

      <div class="peoplepic">
        <%= image_tag("coccinelle.jpg")%>
      </div>
    </div>
  </div>

</div>

<div id="where">
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("vegetables.png")%>
    </div>
    <div class="place-to-find-top">
      <h2>AU MARCHE</h2>
      <p>Tous les vendredi de 6h à 13h au marché de Saint-Genis-Laval</p>
    </div>
    <button class="btn btn-primary">En savoir plus</button>
  </div>
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("landscape.png")%>
    </div>
    <div class="place-to-find-top">
    <h2>A LA FERME</h2>
    <p>Commandez votre panier en ligne du lundi au mercredi et venez le récupérer à la ferme</p>
    </div>
    <button class="btn btn-primary">En savoir plus</button>
  </div>
  <div class="place-to-find">
    <div class="place-to-find-icon">
      <%= image_tag("shop.png")%>
    </div>
    <div class="place-to-find-top">
      <h2>A ALTERECO</h2>
      <p>Nous vendons nos produits, ainsi que ceux d'autres producteurs, à Altereco. Venez !</p>
    </div>
    <button class="btn btn-primary"><a href="https://www.alter-conso.org/paysans/">En savoir plus</a></button>
  </div>
</div>

<div class="homepage-bottom">

  <h1>En direct des Mayères</h1>

  <div class="homepage-photos">


    <div class="hpleft">
      <div class="hplefttop">
        <div class="contoverflow contoverflow-except-left">
          <div class="hppic hplefttoptop">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hpleftbottom">
        <div class="contoverflow contoverflow-except-left">
          <div class="hppic hpleftbottomleft">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
        <div class="contoverflow contoverflow-left-bottom-right">
          <div class="hppic hpleftbottomright">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hpright">
      <div class="hprighttop">
        <div class="contoverflow">
          <div class="hppic hprighttopleft">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
        <div class="contoverflow contoverflow-except-right">
          <div class="hppic hprighttopright">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hprightbottom">
        <div class="contoverflow contoverflow-except-right">
          <div class="hppic hprightbottombottom">
            <div class="overlay">
              <span class="overlaytxt">Hello !</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
