<div class="container">


  <% @orders_by_year.each do |date, orders_number| %>


    <h1>Statistiques <%= date.strftime('%Y') %> : <%= orders_number %> <%= "commande".pluralize(orders_number) %> </h1>

    <% @categories.each do |category| %>
      <h2><%= category.name %> : <%= category.year_sales_for(date.strftime('%Y').to_i) %>€</h2>
      <ul>
        <% category.products.ordered.each do |product| %>
          <li><%= product.name %> : <%= product.year_crops_for(date.strftime('%Y').to_i) %> <%= product.unit.pluralize(product.year_crops_for(date.strftime('%Y').to_i)) %> - <%= product.year_sales_for(date.strftime('%Y').to_i) %> €</li>
        <% end %>
      </ul>
    <% end %>

  <% end %>

  <%= @orders_by_year %>

</div>
