<div class="modal fade" id="logInModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connectez-vous pour commander</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <%= f.input :email, autofocus: true, label: "Email" %>
        <%= f.input :password, label: "Mot de passe" %>

          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me, as: :radio_buttons, label: "Se souvenir de moi" %>
          <% end -%>

            <%= f.button :submit, value: "Connexion", class: "btn btn-primary" %>

          <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
