<% @categories.each do |category| %>
  <h2><%= category.name %></h2>

  <% category.products.each do |product| %>
    <div class="product_line">
      <div>
        <% if product.photo.present? %>
          <%= cl_image_tag product.photo, class: "avatar_bordered" %>
        <% else %>
          <div class="avatar_bordered"></div>
        <% end %>
      </div>

      <div class="product_info">
        <span class="product-title"> <%= product.name.capitalize %></span>
        <span class="product-price"><%= product.price %> € / <%= product.unit %></span><br>
        <span class="text-small"><%= product.description %></span>
      </div>
    </div>

    <%= link_to "Editer", edit_admin_product_path(product) %>
    <%= link_to "Supprimer", admin_product_path(product), method: :delete, data: { confirm: "Attention, vous allez perdre toutes les commandes associées ! Voulez-vous vraiment supprimer ce produit ?" } %>
    <% if product.active? %>
      <%= link_to "Desactiver", toggle_active_admin_product_path(product) %>
    <% else %>
      <span class="activate_product"> <%= link_to "Activer", toggle_active_admin_product_path(product) %></span>
    <% end %>
  <% end %>
<% end %>
