<div class="container">

  <h1><%= link_to new_admin_user_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
      Clients</h1>

  <table>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Email</th>
      <th>Tél</th>
      <th>Ardoise</th>
      <th>Commandes</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
            <i class="far fa-edit"></i>
          <% end %> |
          <%= link_to admin_user_path(user), data: { method: "delete" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
        <td>
          <% if user.mayeres? %>
            <i class="fab fa-medium-m"></i>
          <% end %>
          <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.tab %> €</td>
        <td><%= user.orders.validated.count %> <%= "commande".pluralize(user.orders.validated.count) %></td>
        <td><%= simple_form_for([:admin, user, Order.new]) do |f| %>
                <%= f.submit("Créer") %>
              <% end %>
      </tr>
    <% end %>
  </table>

</div>
