<% if @product_orders.count > 0 %>
  <h1>Mon panier</h1>
  <ul>
  <% @product_orders.each do |product_order| %>
    <li>
      <%= product_order.product.name %> :
      <%= product_order.quantity %> <%= product_order.product.unit %>
      - <%= product_order.item_price %> €
    </li>
  <% end %>
  </ul>
  <h4>Prix total du panier : <%= @order.total_price %> €</h4>

  <% if current_order.status != 1 %>
    <%= form_for(@order) do |f| %>
      <%= f.hidden_field :status, value: 1 %>
      <%= f.submit 'Valider la commande', class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <p>Votre commande a déjà été validée</p>
    <%= link_to "Accéder au récap de la commande", order_path(@order) %>
    <%= link_to "Modifier cette commande", reset_status_order_path(@order) %>
  <% end  %>
<% end %>
