<div class="container">

  <div id="farmers_word">
    <%= render 'farmers_word' %>
  </div>
  <%= render 'product_list_title' %>

  <div id="product_index_flex">
    <div id="product_index_left">
        <div id="products-search">
          <i class="fa fa-search fa-gray"></i>
          <input type="text" id="search" style="width: 100%" placeholder="Chercher parmi les produits...">
        </div>
      <div id="products-list">
        <%= render 'product_list' %>
      </div>
    </div>

    <div id="product_index_right">
      <div class="card_form" id="order-cart">
        <%= render 'cart_title' %>
        <%= render 'cart' %>
        <%= render 'cart_validation' %>
      </div>
    </div>
  </div>

</div>
