<div class="container">

  <span class="farmers_title">Le mot des maraîchers</span>
  <div id="farmers_word">
    <%= render 'farmers_word' %>
  </div>
  <%= render 'product_list_title' %>

  <div id="product_index_flex">
    <div id="product_index_left">
      <div id="customer_list_cart">
        <div id="products-list">
          <%= render 'product_list' %>
        </div>
      </div>
    </div>

    <div id="product_index_right">
      <div class="card_form" id="order-cart">
        <%= render 'cart_title' %>
        <%= render 'cart' %>
        <%= render 'cart_validation' %>
      </div>
    </div>
  </div>

</div>
