<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Plages de vente", admin_selling_ranges_path %>
    <%= link_to "Produits", '' %>
    <%= link_to "Clients", '' %>
    <%= link_to "A récolter", '' %>
    <%= link_to "Commandes", '' %>

    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
  </div>
</div>
