<h1>Ventes</h1>

<%= link_to "Ajouter une vente", new_sale_path %>

<ul>

  <% @sales.each do |sale| %>
    <li>
      <%= sale.product.name %>
      <%= sale.quantity %>
      <%= link_to "Editer", edit_sale_path(sale) %>
    </li>
  <% end %>
</ul>

<% @products.each do |product| %>
<%= product.name %>
<% end %>
