<div class="container">

  <h1>Ventes - Semaine <%= params[:week_number] %></h1>


  <table>
  <th>
    <td>Mayères</td>
    <td>Hors Mayères</td>
    <td>Total</td>
  </th>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= simple_form_for(@sale) do |f| %>
            <%= f.input :quantity, label: false %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :mayeres, value: true %>
            <%= f.hidden_field :week_number, value: params[:week_number] %>
            <%= f.button :submit %> <% end %> </td>
      <td><%= simple_form_for(@sale) do |f| %>
            <%= f.input :quantity, label: false %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :mayeres, value: false %>
            <%= f.hidden_field :week_number, value: params[:week_number] %>
            <%= f.button :submit %> <% end %> </td>

    </tr>
  <% end %>
</div>
